@import "tailwindcss";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


:root {
    --primario: #fa3838;
    --secundario: #333435;
    --negro: #000000;
    --blanco: white;
}


html {
    font-size: 10px;
    background-color: var(--negro);
    overflow-x: hidden;

}

body {
    margin: 0 auto;
}

.cabezera {
    background-color: var(--negro);
}

.contenedor-global {
    background-color: var(--negro);
}

h1 {
    font-size: 4rem;
    /* 10 * 4 = 40px */
}

/* Cabezera */

.cabezera {
    width: 98%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

.cabezera-navegacion {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: end;
    font-size: "Lato";
}

.cabezera-logo {
    border-radius: 100%;
    border: var(--primario) solid;
    height: 8rem;
}

.cabezera-navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabezera-navegacion a:hover {
    color: var(--primario);
}



/* Seccion */
.Seccion1 {
    width: 100%;
    height: 89.84rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Seccion1-general {
    margin-top: 10rem;

}

.Seccion1-contenedor {
    width: 75%;
    color: var(--blanco);
    display: grid;
    grid-template-columns: 10% 50%;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    font-family: "Lato";
    padding: 5rem;
    margin: 0 auto;
    background-color: #333435;
    border-radius: 5rem;
    border: solid white 0.5px;
    padding: 7rem;
}

/* Seccion 2 */


.Seccion2 {
    margin: 0 auto;
}

.Seccion2-Titulo {
    font-family: "Lato";
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    width: 20%;
    border-bottom: solid black 5px;

}

.Seccion2-Titulo-h2 h2 {
    margin: 4px;
}

@media (width >=60rem) {
    .laptop {
        margin: 0 auto;
    }
}

.laptop .screen {
    position: relative;
    width: 90%;
    margin: 0 auto;
    background: #1a1a1a;
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 0 3px rgba(64, 64, 64, 1),
        inset 0 0 100px 0 rgba(0, 0, 0, 0.75);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}


.laptop .screen::before {
    content: '';
    display: block;
    width: 480px;
    }

.laptop .screen::after {
    content: 'MacBook Pro';
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.laptop .screen .lcd {
    position: absolute;
    top: 3.8%;
    left: 2.2%;
    right: 2.2%;
    bottom: 3.5%;
    border: 1px solid;
    border-color: #000 #202020 #282828 #000;
    border-radius: 3px;
    overflow: hidden;    
}

.screen .lcd img {
    width: 100%;
    height: 100%;
}

.laptop .screen .glass_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.175) 0%,
            rgba(255, 255, 255, 0) 50%);
}

.laptop .screen .screen_reflection {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0.05) 33%, rgba(0, 0, 0, 0) 33.1%);
}

.laptop .keyboard {
    position: relative;
    width: 100%;
}

.laptop .keyboard.top {
    height: 3px;
    border-radius: 1px 1px 0 0;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.75) 2%,
            rgba(0, 0, 0, 0.33) 7%, rgba(0, 0, 0, 0) 100%),

        linear-gradient(90deg, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.33) 93%, rgba(0, 0, 0, 0.75) 98%,
            rgba(255, 255, 255, 0.5) 100%),

        linear-gradient(90deg, rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0.35) 33%,
            rgba(255, 255, 255, 0.35) 35%,
            rgba(0, 0, 0, 0) 100%),

        linear-gradient(0deg, rgba(20, 20, 20, 1) 0%,
            rgba(20, 20, 20, 1) 100%);

}

.laptop .keyboard.top::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
    height: 30%;
    background: rgba(0, 0, 0, 0.5);
}


.laptop .keyboard.bottom {
    height: 9px;
    border-radius: 0 0 33% 33%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0.75) 2%,
            rgba(0, 0, 0, 0.5) 7%, rgba(0, 0, 0, 0) 50%),

        linear-gradient(90deg, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 83%, rgba(0, 0, 0, 0.75) 98%,
            rgba(255, 255, 255, 0.35) 100%),

        linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%,
            rgba(0, 0, 0, 0.25) 33%, rgba(255, 255, 255, 1) 34%,
            rgba(255, 255, 255, 1) 100%),

        linear-gradient(0deg, rgba(200, 200, 200, 1) 0%,
            rgba(200, 200, 200, 1) 100%);
}

.laptop .keyboard.bottom::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
    height: 40%;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.75) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 0 0 0.5vw 0.5vw;
}

.Seccion2-SobreMi {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4rem;
}

.Seccion2-SobreMi1 {
    background-color: var(--secundario);
    border: solid black 3px;
    width: 98%;
    border-radius: 2rem;
    margin: 4rem 0;
}

.Seccion2-SobreMi1 p {
    padding: 3rem;
    font-size: 26px;
    font-style: "Lato";
    color: white;
    margin: 0;
}

.Seccion2-SobreMi ul li {
    font-size: 26px;
    font-style: "Lato";
    color: white;
}

.Seccion2-SobreMi_botones {
    display: flex;
    gap: 1rem;
    height: 17px;
    margin: none;
    background-color: var(--negro);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


.Seccion2-SobreMi_botones .rojo {
    background-color: var(--primario);
    width: 2rem;
}

.Seccion2-SobreMi_botones .amarillo {
    background-color: yellow;
    width: 2rem;
}

.Seccion2-SobreMi_botones .verde {
    background-color: greenyellow;
    width: 2rem;
}

.Seccion2-SobreMi_botones div {
    border-radius: 100%;
}

.Seccion2-SobreMi_botones h2 {
    font-family: "Lato";
    font-size: 18px;
    color: white;
    align-self: center;
}

.grid-span {
    grid-row: 1 /3;
    grid-column: 2 / 3;
    width: 94%;
}

.grid-span .Seccion2-SobreMi1 {
    height: 86.7%;
}

/* Seccion3 */

.Seccion3 {
    background-color: #c1072f;
    margin: 0 auto;
    padding: 10rem;
}

/* Animaciones */
.hover-underline {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #e75f4d);
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;

}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

.card-background {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}

.card-presentation {
    transition: all 0.5s ease-in-out;
}

.card-presentation:hover {
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

.card-icon {
    transition: all 0.3s ease-in-out;
}

.card-icon:hover {
    color: #000000;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

#particles-js {
    height: 100%;
    background: rgb(7, 7, 7)
}

.window-menu {
    transition: all 0.3s ease-in-out;
}

.window-menu:hover {
    transition: all 0.3s ease-in-out;
    padding: calc(var(--spacing) * 2);
    color: black;
    border-radius: var(--radius-xl);
    background-color: white;

}

.window-withContent {
    max-height: -webkit-fill-available;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: start;
    justify-content: space-between;
}

.window-withContent img {
    width: 30%;
    border-radius: 2rem;
}

.studiesImage {
    position: relative;
    overflow: hidden;
}

@media (width >=60rem) {

    .studiesImage::before {
        content: '';
        position: absolute;
        background: white;
        left: -170px;
        top: 50%;
        transform: translateY(-50%) rotate(15deg);
        width: 20%;
        height: 140%;
        background-color: black;
    }
}


/* Mis Proyectos */
.transformed {
    transition: transform masInfo 1s ease-out;
    animation: masInfo 1s;
    width: 100%;
    height: 100%;
}

.textoTransformed {
    animation: textOpacity 1s;
}

.bigContent {
    animation: bigContent 1.5s;
    grid-column: 1/3;
    grid-template-columns: 1;
}

@media (max-width: 1024px) {
    .bigContent {
        grid-column: 1/2;
    }
}

.absoluteContent {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dFlex {
    display: flex;
}


@keyframes bigContent {
    0% {
        width: 50%;
    }

    100% {
        width: 100%;

    }
}



@keyframes textOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes masInfo {
    0% {
        width: 65%;
        height: 65%;
    }

    100% {
        height: 100%;
        width: 100%;
    }
}